<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1>User Login</h1>
    <form action="/user/login" method="post">
      <label>Email</label>
      <input 
        type="email" required
        placeholder="Enter your email address"
        name="email"
      />
      <label>Password</label>
      <input 
        type="password" required
        placeholder="Enter Password"
        name="password"
      />
      <button type="submit">Login</button>
    </form>
  </body>
</html>